<section class="rt-login rt-background">
  <header>
    <h2>Авторизация через соц.сети</h2>
  </header>

  <div class="rt-login-content">
	  <a class="btn-flat" ng-click="login('google')" title="Авторизоваться через Google+">
	  	<i class="icon-googleplus-rect-1"></i> Google+
	  </a>
	  <a class="btn-flat" ng-click="login('github')" title="Авторизоваться через GitHub">
	  	<i class="icon-github-1"></i> GitHub
	  </a>
	  <a class="btn-flat" ng-click="login('facebook')" title="Авторизоваться через Facebook">
	  	<i class="icon-facebook-rect"></i> Facebook
	  </a>
	  <a class="btn-flat" ng-click="login('mailru')" title="Авторизоваться через Mail.ru">
	  	<i class="icon-mailru"></i> Mail.ru
	  </a>
	  <a class="btn-flat" ng-click="login('vkontakte')" title="Авторизоваться через Vkontakte">
	  	<i class="icon-vkontakte-rect"></i> Vkontakte
	  </a>
	  <a class="btn-flat" ng-click="login('odnoklassniki')" title="Авторизоваться через Odnoklassniki" style="display:none;">
	  	<i class="icon-odnoklassniki-rect"></i> Odnoklassniki
	  </a>
  </div>
  <div class="rt-login-footer">
  	Авторизуйтесь чтобы использовать весь потенциал сервиса. <br/>
  	<small>Если Вы зашли в первый раз, выберите провайдер из выше предложенных. Для Вас будет создана учетка закрепленной соц.сетью</small>
  </div>  
</section>